@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    letter-spacing: 1px;
}

.btn{
    font-weight: 700;
    margin-top: 2%;
}

.color{
    color: #49A6E9;
}

.container {
     align-items: center;
     background-size:cover;
     display: flex;
     flex-direction: column;
     height:100vh;
     justify-content: center;
}

.txt {
    background-color: black;
    border-radius: 4px;
    color:white;
    font-family:"Roboto", sans-serif;
    font-weight:bold;
    padding:1%;
    text-align: center;
}


